<div class="modal modal-view">
    <ion-header-bar>
        <div class="row">
            <div class="col col-90">
                <h3>CVV Help</h3>
            </div>
            <div class="col text-center">
                <span class="icon ion-close d2" ng-click="closeModal()"></span>
            </div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col">
                <div dir="ltr" align="left">
                    <div dir="ltr" align="left">
                        <div dir="ltr" align="left">
                            <div dir="ltr" align="left">
                                <div dir="ltr" align="left">
                                    <p><strong><img src="http://food.bizitogo.com/image/csc_1.gif" align="left" height="192" width="351">Visa/Mastercard and Discover Users</strong><br>
                                        Flip your card   over and look at the signature box. You should see
                                        either the&nbsp;entire 16-digit   credit card number or just the last
                                        four digits&nbsp;followed by a special 3-digit   code. This 3-digit code
                                        is your Card Security Code.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div dir="ltr" align="left">
                    <p dir="ltr" align="left">&nbsp;</p>
                    <p dir="ltr" align="left"><img src="http://food.bizitogo.com/image/csc_2.gif" align="right" height="140" width="200"><strong><br>
                        American Express   Credit Card Users</strong><br>
                        Look for the 4-digit code printed on the front of your   card just
                        above and to the right of your main credit card number. This 4-digit
                        code is your Card Identification Number (CID). The CID is the four-digit
                        code   printed just above the Account Number. </p>
                    <p dir="ltr" align="left">&nbsp;</p>
                </div>
            </div>
        </div>
    </ion-content>
</div>
