<ion-view title="Terms and Conditions">
    <ion-content padding="true">
        <h3 class="text-center">RETURN / REFUND POLICY</h3>
        <p>You may cancel any Order (with the exception of “A.S.A.P.” Orders, which may not be cancelled) at any time until two (2) hours before the scheduled time for delivery of the Order by calling our office (See Contact Us tab). Upon cancellation, Bizitogo delivery will refund the total price of the Order to the User, to the credit or debit card used to place the Order.</p>
        <p>Refunds will be issued to the credit or debit card used for the order, within 7 days of purchase.</p>
    </ion-content>
</ion-view>